<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="zipAPIKey" value="devU01TX0FVVEgyMDIxMDkyOTEzNDIwNjExMTY5ODc="/>
    <add key="uploadPath" value="../../image/"/>
  </appSettings>
	<connectionStrings>
		<add name="local" connectionString="Server=210.97.54.46;Uid=sa;Pwd=1234;Database=Team5-mealshop"/>
	</connectionStrings>
	<startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>
